body {
  margin: 0;
  background: #000;
  position: relative;
  overflow-x: hidden;
  -webkit-text-size-adjust: none;
  color: $--color-text-default;
  font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif;
  font-size: $--font-size-default;
  word-break: break-all;
  word-wrap: break-word;
}

::selection {
  color: $--color-text-default;
  background: $--color-primary;
  text-shadow: none;
}
