.age {
  top: 77px;
  left: 50%;
  width: 66px;
  z-index: 9;
  position: absolute;

  & > img {
    width: 100%;
  }

  @media (max-width: 1750px) {
    top: 160px;
    margin-left: -800px;
  }

  @media (max-width: 1630px) {
    margin-left: -45vw;
  }

  @media (max-width: 1280px) {
    left: 0;
    top: 50px;
    width: 50px;
    margin-left: 0;
  }
}