.container {
  position: relative;
}

.navigation {
  top: 50%;
  left: -20px;
  width: 440px;
  position: absolute;
  z-index: 2;
  
  &Prev,
  &Next {
    width: 44px;
    height: 37px;
    position: absolute;
    background: url("~@/assets/images/arrow-right.png");
    transition: all 0.3s;
    text-decoration: none;
    cursor: pointer;
  }

  &Prev {
    left: 0;
    transform: rotate(180deg);
    &:hover {
      @media (min-width: 769px) {
        transform: rotate(180deg) translateX(6px);
      }
    }
  }

  &Next {
    right: 0;
    &:hover {
      @media (min-width: 769px) {
        transform: translateX(6px);
      }
    }
  }
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 17px;
  z-index: 3;

  &Dot {
    width: 34px;
    height: 34px;
    display: block;
    background: url("~@/assets/images/dot.png");
    background-repeat: no-repeat;
    background-position: 119% 53.846%;
    display: block;
    text-decoration: none;

    &.active {
      background-position: -4% 0;
    }
  }
}
